{% extends 'base.html.twig' %}
{% block body %}

<div class="row">
<div class="col-2"></div>
<div class="col-8">
<h1 class="title">Add Product</h1>
{{form(formpro)}}</div>
<div class="col-2"></div>
</div>
{% endblock %}